tf-aws-ct-aft/modules/aft-customizations/states/invoke_customizations.asl.json
{
  "StartAt": "Get Execution Id",
  "States": {
    "Get Execution Id": {
      "Type": "Pass",
      "Parameters": {
        "execution_id.$": "$$.Execution.Name"
      },
      "ResultPath": "$.get_execution_id",
      "Next": "Identify Targets"
    },
    "Identify Targets": {
      "Next": "Check Bypass",
      "Type": "Task",
      "Resource": "${identify_targets_function_arn}",
      "ResultPath": "$.targets",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "Notify Failure"
        }
      ]
    },
    "Check Bypass": {
      "Type": "Choice",
      "QueryLanguage": "JSONata",
      "Choices": [
        {
          "Condition": "{% 'provisioning_bootstrap' in $states.input.bypass_steps %}",
          "Next": "Record Audit"
        }
      ],
      "Default": "Invoke Provisioning Framework"
    },
    "Invoke Provisioning Framework": {
      "Type": "Map",
      "ItemReader": {
        "ReaderConfig": {
          "InputType": "JSON"
        },
        "Resource": "arn:aws:states:::s3:getObject",
        "Parameters": {
          "Bucket.$": "$.targets.target_accounts_info.bucket",
          "Key.$": "$.targets.target_accounts_info.key"
        }
      },
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "DISTRIBUTED",
          "ExecutionType": "STANDARD"
        },
        "StartAt": "Invoke Account provisioning Step Function",
        "States": {
          "Invoke Account provisioning Step Function": {
            "Type": "Task",
            "Resource": "arn:${current_partition}:states:::states:startExecution.sync:2",
            "Parameters": {
              "StateMachineArn": "${invoke_account_provisioning_sfn_arn}",
              "Input.$": "$"
            },
            "End": true
          }
        }
      },
      "Next": "Record Audit",
      "MaxConcurrency": "${maximum_concurrent_customizations}",
      "ResultPath": null
    },
    "Record Audit": {
      "Type": "Task",
      "Resource": "arn:${current_partition}:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${audit_trigger_function_arn}",
        "Payload.$": "$"
      },
      "ResultPath": "$.audit_result",
      "ResultSelector": {
        "status.$": "$.Payload.status"
      },
      "Next": "Get Pipeline Executions",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.audit_error",
          "Next": "Get Pipeline Executions"
        }
      ]
    },
    "Get Pipeline Executions": {
      "Next": "Pending Pipeline Executions?",
      "Type": "Task",
      "Resource": "${get_pipeline_executions_function_arn}",
      "ResultPath": "$.running_executions",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "Notify Failure"
        }
      ]
    },
    "Pending Pipeline Executions?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.targets.number_pending_accounts",
          "NumericEquals": 0,
          "Next": "Notify Success"
        }
      ],
      "Default": "Below Maximum Execution Threshold?"
    },
    "Below Maximum Execution Threshold?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.running_executions.running_pipelines",
          "NumericLessThan": "${maximum_concurrent_customizations}",
          "Next": "Execute Pipelines"
        }
      ],
      "Default": "Wait on Pipeline Executions"
    },
    "Execute Pipelines": {
      "Next": "Wait on Pipeline Executions",
      "Type": "Task",
      "Resource": "${execute_pipeline_function_arn}",
      "ResultPath": "$.targets",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "Notify Failure"
        }
      ]
    },
    "Wait on Pipeline Executions": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "Get Pipeline Executions"
    },
    "Notify Success": {
      "Type": "Task",
      "Resource": "arn:${current_partition}:states:::sns:publish",
      "Parameters": {
        "TopicArn": "${aft_notification_arn}",
        "Message.$": "$"
      },
      "End": true
    },
    "Notify Failure": {
      "Type": "Task",
      "Resource": "arn:${current_partition}:states:::sns:publish",
      "Parameters": {
        "TopicArn": "${aft_failure_notification_arn}",
        "Message.$": "$.Cause"
      },
      "Next": "Failed"
    },
    "Failed": {
      "Type": "Fail"
    }
  }
}
